<div class="action">
  <!-- <form> -->
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">PPS</span>
    </div>
    <input class="form-control" type="text" id="auctionPPS" placeholder="Price per share" [(ngModel)]="pps">
  </div>
  <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id=""># Shares</span>
      </div>
  <input class="form-control" type="text" id="auctionNumShares" placeholder="# of shares" [(ngModel)]="numShares">
    </div>
    <div class="input-group">
  <button class="btn btn-default btn-primary form-control" type="button" (click)="placeBid(numShares, pps)">Place Bid</button>
</div>
  <!-- </form> -->
</div>
