button {
    margin-top: 15px;
    display:block;
    /* margin: auto; */
}

div#ppsDiv {
  width: 90%;
  margin: auto;
}

div#numSharesDiv {
  width: 90%;
  margin: auto;
}

div#contianer {
  /*width: 60%;*/
}
