<div class="col-md-12">
  <div class="row">
    <div class="col-md-12" style="text-align: center; margin-top:15px;"><h1>Welcome Back {{activeUser.firstName}}!</h1>
    </div>
    <div class="col-md-6" style="margin-top:15px !important;">
      <h1 style="text-align:center;">My Active Bids</h1>
      <!--      <div class="table-responsive" id="bidList">-->

      <!--        <table class="table table-fixed" >-->
      <!--          <thead style="background-color: #343a40 !important;">-->
      <!--          <tr style="background-color: #343a40 !important;">-->
      <!--            <th scope="col" style="color: white;">Time</th>-->
      <!--            <th scope="col" style="color: white;">PPS</th>-->
      <!--            <th scope="col" style="color: white;"># Shares</th>-->
      <!--          </tr>-->
      <!--          </thead>-->
      <!--          <tbody>-->
      <!--          <tr *ngFor="let bid of bids.slice().reverse()" [class.my-bid]="bid.ownerId == currentUser._id">-->
      <!--            <td>{{bid.date | date: 'M/d/yy, h:mm:ss a'}}</td>-->
      <!--            <td>{{bid.pps}}</td>-->
      <!--            <td>{{bid.numShares}}</td>-->
      <!--          </tr>-->
      <!--          </tbody>-->
      <!--        </table>-->
      <!--      </div>-->
    </div>
    <div class="col-md-6" style="margin-top:15px !important;">
      <h1 style="text-align:center; color:forestgreen;">My Past Winning Bids</h1>
      <!--      <div class="table-responsive" id="bidList">-->

      <!--        <table class="table table-fixed" >-->
      <!--          <thead style="background-color: #343a40 !important;">-->
      <!--          <tr style="background-color: #343a40 !important;">-->
      <!--            <th scope="col" style="color: white;">Time</th>-->
      <!--            <th scope="col" style="color: white;">PPS</th>-->
      <!--            <th scope="col" style="color: white;"># Shares</th>-->
      <!--          </tr>-->
      <!--          </thead>-->
      <!--          <tbody>-->
      <!--          <tr *ngFor="let bid of bids.slice().reverse()" [class.my-bid]="bid.ownerId == currentUser._id">-->
      <!--            <td>{{bid.date | date: 'M/d/yy, h:mm:ss a'}}</td>-->
      <!--            <td>{{bid.pps}}</td>-->
      <!--            <td>{{bid.numShares}}</td>-->
      <!--          </tr>-->
      <!--          </tbody>-->
      <!--        </table>-->
      <!--      </div>-->
    </div>
  </div>
</div>
