<div class="table-responsive" id="bidList">

    <table class="table table-fixed">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">PPS</th>
                <th scope="col"># Shares</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bid of bids.slice().reverse()">
                <td>{{bid.date | date: 'M/d/yy, h:mm:ss a'}}</td>
                <td>{{bid.pps}}</td>
                <td>{{bid.numShares}}</td>
            </tr>
        </tbody>
    </table>
</div>