<div class="container-fluid" id="auctionContainer">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row auctionRow">
        <div class="preview col-md-12">

          <app-auction-details *ngIf="auction" [auction]="auction" (bidPlaced)="auctionUpdated($event)">
          </app-auction-details>

        </div>
      </div>
      <div class="wrapper row auctionRow" >
          <div class="details col-md-6" *ngIf="auction">
              
        <app-auction-graph *ngIf="auction" [strikePriceAnnotation]="strikePriceAnnotation" [auction]="auction" [graphData]="graphDataSets" [strikePrice]="strikePrice">
        </app-auction-graph>
        </div>
        <div class="details col-md-6" id="bidList">
            <app-auction-bid-list *ngIf="auction" [auction]="auction" [bids]="auction.bids" ></app-auction-bid-list>
          </div>
      </div>
    </div>
  </div>
</div>