<div class="container-fluid" id="auctionContainer">
  <h2 style="text-align:center; margin: 0 !important;" *ngIf="auction">{{auction.title}}</h2><br>

  <div class="row" id="graphRow">
    <div class="col-md-9">
      <app-auction-graph *ngIf="auction" [(auction)]="auction" [bids]="auction.bids"></app-auction-graph>
    </div>
    <div class="col-md-3" id="placeBid">
        <div class="row sidePanel">
            <div class="col col-lg-12">
              <app-auction-details *ngIf="auction" [auction]="auction" (bidPlaced)="auctionUpdated($event)">
              </app-auction-details>
            </div>
            
          </div>
      <div class="row sidePanel">
        <div class="col col-lg-12" id="bidDiv">
          <h3 style="text-align: center; color: black; font-weight: bold; margin-top: 0 !important;">Place a Bid</h3>
          <app-auction-bid *ngIf="auction" [auction]="auction" (bidPlaced)="auctionUpdated($event)"></app-auction-bid>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      Auction Details Here
    </div>
    <div class="col-lg-4" id="auctionDetails">
      <app-auction-bid-list *ngIf="auction" [auction]="auction" [bids]="auction.bids"></app-auction-bid-list>
    </div>

  </div>
</div>
<button class="btn btn-primary" (click)="resetBids(auction._id)">Clear Bids</button>