div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    font: 12px sans-serif;
    background: #038C3E;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    padding: 5px;
  }

  #chart {
     width: 90%;
    height: 100%;
    margin-bottom: 45px;
    /* background-color: darkslategray; */
  }

  .tick {
    color: white;
  }

  line{
    color: white;
    width: 1px;
  }

  #bidDiv{
    background-color: #F5F5F5;
  }
