#auctionPPS {
    margin-right: 10px;
}

#auctionNumShares {
    margin-right: 10px;
}

input{
    color: black;
}

/* .container {
    color: white;
} */

span.glyphicon-remove{
    color: red;
}

span.glyphicon-ok{
    color: green;
}

#timer {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: rgb(73, 78, 80);
    letter-spacing: -1px;
  }

  #timer span {
    font-size: 32px;
    color: #333;
    margin: 0 3px 0 15px;
  }
  #timer span:first-child {
    margin-left: 0;
  }

  #reserveNotMet {
    color: red !important;
  }

  .redX {
      color: red;
  }