<head>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
</head>
<div class="container">
  <h5 class="price">Current Strike Price: <span>{{auction.currentStrikePrice}}</span></h5>
  <p>Envelope icon: <span class="glyphicon glyphicon-ok"></span></p> 

  <div class="statistics">
   <span> <b>Current Bids: </b>{{auction.graphDataSets[0].data.length}} ---<b> Unique Bidders: </b>{{auction.uniqueBidders}}</span>
 
  </div>
  <p class="product-description">{{auction.description}}</p>
  

</div>

<div class="action">
    <input type="text" id="auctionPPS" placeholder="Price per share" [(ngModel)]="pps">
    <input type="text" id="auctionNumShares" placeholder="# of shares" [(ngModel)]="numShares">
    <button class="btn btn-default btn-primary" type="button" (click)="placeBid(pps, numShares)">Place Bid</button>
    
  </div>