#auctionPPS {
    margin-right: 10px;
}

#auctionNumShares {
    margin-right: 10px;
}

input{
    color: black;
}

.container {
    color: white;
}

span.glyphicon-remove{
    color: red;
}

span.glyphicon-ok{
    color: green;
}