<div class="container">
  <h3 class="product-title">The Centrax</h3>
  <hr>
  <h5 class="price">Current Strike Price: <span>{{auction.currentStrikePrice}}</span></h5>
  
  <div class="statistics">
   <span> <b>Current Bids: </b>{{auction.graphDataSets[0].data.length}} ---<b> Unique Bidders: </b>{{auction.uniqueBidders}}</span>
 
  </div>
  <p class="product-description">{{auction.description}}</p>
  

</div>

<div class="action">
    <input type="text" id="auctionPPS" placeholder="Price per share" [(ngModel)]="pps">
    <input type="text" id="auctionNumShares" placeholder="# of shares" [(ngModel)]="numShares">
    <button class="btn btn-default btn-primary" type="button" (click)="placeBid(pps, numShares)">Place Bid</button>
    
  </div>