/* You can add global styles to this file, and also import other style files */
/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
@import "assets/stylesheets/theme.css";
@import "assets/stylesheets/theme.min.css";
@import "assets/stylesheets/vendor/bootstrap.min.css";


/*.input-group-text{*/
/*  color: white;*/
/*  background-color:#8CBF3F !important;*/
/*}*/


button {
  margin: auto !important;
}

.nav-tabs > li.active > a {
  color: #8CBF3F !important;
}

.nav-tabs > li > a:hover {
  color: #8CBF3F !important;
}

.navbar .main-navigation > .menu li.current-menu-item > a {
  color: #8CBF3F !important;
}

.navbar-justified .main-navigation > .menu > li.menu-item-has-children > a:hover {
  color: #8CBF3F !important;
}

.navbar .main-navigation > .menu > li.menu-item-has-children .sub-menu li > a:hover {
  color: #8CBF3F !important;
}


img#nav-logo {
  margin-left: 50px !important;
}

img#company-header {
  /*margin-left: 500px !important;*/
  margin: auto !important;
  display: block !important;
}
