<table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">TBD</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td><button class="btn btn-primary" (click)="editUser(user._id)">Edit</button></td>
            <td>TODO</td>
            <td>TODO</td>
          </tr>
        </tbody>
      </table>

      <div class="row" style="margin-top: 20px;">
            <app-edit-user [user]="activeEditingUser" *ngIf="editingUser && activeEditingUser"></app-edit-user>
    </div>
